system/system/app/Chrome/Chrome.apk
system_other/preloads/apps/retaildemo_0.8.6.apk.preload
system_other/preloads/apps/retaildemo_0.8.6.apk.preload.xz
system_other/priv-app/PrebuiltGmsCore/oat/arm/PrebuiltGmsCore.odex
system_other/priv-app/PrebuiltGmsCore/oat/arm64/PrebuiltGmsCore.odex
